body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

/***************************  HEADER  ***************************/

.header {
    background: #d3750b;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0.7em;

    .hamburger {
        padding: 0.3em;
        font-size: 2em;
        color: #ffffff;
        margin-right: 0.3em;

        &:hover {
            cursor: pointer;
        }

        .mobile-menu {
            display: none;

            background: #d3760b;
            position: absolute;
            width: 70vw;
            height: 22vh;
            right: -18px;
            z-index: 5;
            text-align: center;

            a {
                color: rgba(255, 255, 255, 0.7);
                display: block;
                text-decoration: none;
                margin: 1em;
                transition: all ease 1s;
                font-size: 0.8em;
                &:hover {
                    color: #fff;
                    transition: all ease 0.7s;
                }

                &:active {
                    color: #fff;
                    transition: all ease 0.7s;
                }
            }
        }
    }

    &_nav {
        display: none;
    }

    &_contact {
        margin-left: 0.3em;
        display: flex;
        flex-direction: column;
        span {
            color: #ffffff;
            padding-top: 0.3em;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &_social {
        padding: 0.3em;
        font-size: 2em;
        a {
            margin-left: 0.2em;
        }

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            transition: 1s all ease;

            &:hover {
                text-decoration: none;
                color: #ffffff;
                transition: 0.7 all ease;
            }
            &:active {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .header {
        .hamburger {
            display: none;
        }

        &_nav {
            display: flex;
            justify-content: space-between;
            font-size: 1.2em;
            font-weight: bold;
            padding-top: 0.2em;
            a {
                margin-left: 1.5em;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.7);
                transition: 1s all ease;
                height: 1.2em;
                line-height: 1.2em;
                padding: 0.5em;
                border-radius: 0.5em;
                border: 0.2em solid rgba(255, 255, 255, 0.7);
                background-color: #c76e09;
                &:hover {
                    text-decoration: none;
                    color: #d3750b;
                    background-color: rgba(255, 255, 255, 0.8);
                    border-radius: 0.5em;
                    transition: 0.7s all ease;
                    border: 0.2em solid rgb(255, 255, 255);
                }
                &:active {
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}

/***************************    INTRO   *******************************/

.intro {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.726)),
        url(images/img2.jpg) center center / cover no-repeat fixed;
    text-align: center;
    border-bottom: 1em solid #a55b07;

    h2 {
        margin: 0 auto;
        padding: 1em;
        padding-top: 2em;
        color: #fff;
    }

    .text {
        margin: 0 auto;
        p {
            padding: 1em;
            margin: 0 3em;
            color: #fff;

            a {
                color: #c76e09;
                transition: all ease 1s;
                &:hover {
                    color: #f78e17;
                    transition: all ease 0.7s;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .text {
        p {
            font-size: 1.5em;
        }
    }
}

/***************************    SKILLS  **************************/

.skills {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.726)),
        url(images/about.jpg) center center / cover no-repeat fixed;
    text-align: center;
    border-bottom: 1em solid #a55b07;
    h2 {
        margin: 0 auto;
        color: #fff;
        padding: 1em;
        padding-top: 2em;
        margin-bottom: 2em;
    }

    .skill-wrap {
        max-width: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-items: baseline;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        .skill {
            max-width: 150px;
            padding: 1em;
            align-self: center;
            margin: 1em;
            margin-bottom: 3em;
            transition: all ease 1s;
            &:hover {
                filter: brightness(140%);
                transition: all ease 1s;
            }
        }
    }
}

/*************************************  PORTFOLIO   *****************************/

.portfolio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.726)),
        url(images/img1.jpg) center center / cover no-repeat fixed;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1em solid #a55b07;

    h2 {
        margin: 0 auto;
        color: #fff;
        padding: 1em;
        padding-top: 2em;
        margin-bottom: 2em;
    }

    .work-wrap {
        max-width: 1000px;
        margin: 0 auto;
    }

    .work {
        display: inline-block;
        padding: 1em;
        padding-top: 2em;
        padding-right: 2em;
        padding-left: 2em;
        margin: 2em;
        transition: all ease 0.7s;
        background-color: #160d028c;
        border-radius: 2em 0 2em 0;

        h3 {
            color: #fff;
        }

        &:hover {
            cursor: pointer;
            background-color: #160d02d3;
            filter: brightness(120%);
            transition: all ease 1s;
        }
        &:active {
            cursor: pointer;
            background-color: #160d02d3;
            filter: brightness(120%);
            transition: all ease 1s;
        }
    }

    img {
        max-width: 250px;
    }
}

/************     FOOTER      *******************/

.footer {
    text-align: center;
    background: #d3750b;
    p {
        margin: 0 auto;
        padding: 1em;
        color: #fff;
    }

    .social {
        font-size: 2em;

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            transition: 1s all ease;

            &:hover {
                text-decoration: none;
                color: #ffffff;
                transition: 0.7 all ease;
            }
            &:active {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        margin-left: 2em;
    }

    .social {
        margin-right: 2em;
    }
}
